@using AdminSite.Endpoint.Models.ViewModels;
@model CatalogTypeViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    @if (Model.ParentCatalogTypeId != null)
                    {
                        <h4> ثبت زیردسته برای @Model.ParentType  </h4>
                    }
                    else
                    {
                        <h4> ثبت دسته بندی جدید  </h4>
                    }

                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area">

            @{if (Model.Message != null)
                {
                    foreach (var item in Model.Message)
                    {
                        <div class="alert alert-info">
                            <p>@item</p>
                        </div>
                    }
                }
            }
            <form asp-action="create" asp-controller="catalogtype" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-4">
                    <label asp-for="@Model.Type"> </label>
                    <input type="text" class="form-control" asp-for="@Model.Type" autofocus>
                    <span asp-validation-for="@Model.Type" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="@Model.ParentCatalogTypeId" />
                <input type="submit" name="time" value="ثبت" class="btn btn-primary">
                <a asp-action="index" asp-controller="catalogtype" class="btn btn-info">برگشت به لیست</a>
            </form>

        </div>
    </div>
</div>





@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
